<template>
  <div class="modal" :class="{ 'is-active': isActive}">
    <div class="modal-background" @click="closeModal"></div>

    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title is-size-1 is-light has-text-centered">Task Instructions</p>
      </header>

      <div class="modal-card-body">
        <p class="content is-size-4">
          In which parts of the speech do you think Mark Antony meant the opposite of what he said on the surface?
          Click on the 7 parts of his speech where Verbal Irony occurs.
        </p>
      </div>

      <div class="modal-card-foot">
        <button class="button is-large is-rounded is-centered okay-button" @click="closeModal">
          Quiz: Spot the Verbal Irony!
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ActivityModal',
    props: {
      isActive: Boolean
    },
    methods: {
      closeModal () {
        this.$emit('closeModal')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .modal-card {
    border-radius: 25px;

    * {
      color: #fff;
      font-family: "Amatic SC", sans-serif;
    }

    .modal-card-head, .modal-card-body, .modal-card-foot {
      background-color: rgba(21, 30, 30, 0.7);
      border: none;
    }

    .modal-card-body {
      padding: 10%;

      > p {
        font-family: "Open Sans Condensed Bold", Arial, sans-serif;
      }
    }

    .modal-card-foot {
      justify-content: center;
    }
  }

  .button {
    background-color: #99325c;
    border: none;
  }
</style>
