<template>
  <section class="section" :style="{ backgroundImage: `url(${require(`@/assets/images/mark-antony-3.jpg`)})`}">
    <div class="columns is-vcentered is-mobile">
      <div class="column is-3">
        <h1 class="title is-light">From Julius Caesar, <br> Act III Scene II</h1>

        <div class="content is-instructions">
          <h1 class="title">Quiz: Spot the Verbal Irony!</h1>

          <p class="content text">
            <span class="is-size-4">Instructions</span>
            <br/>
            In which parts of the speech do you think Mark Antony meant the opposite of what he said on the surface?
            Click on the 7 parts of his speech where verbal irony occurs.
          </p>
        </div>
      </div>

      <div class="column is-excerpt is-5">
        <button class="button is-small is-irony"
                :class="{ 'is-yes': irony.selected && irony.correct, 'is-no': irony.selected && !irony.correct }"
                :disabled="disableChoice(irony)" v-for="irony in ironies" @click="validateChoice(irony)">
          <span>{{ irony.text }}</span>
        </button>
      </div>

      <div class="column is-feedback is-4" v-if="hasSelectedChoice">
        <div class="notification" :class="[ selectedChoice.correct ? 'is-green' : 'is-red' ]">
          <p class="content text" v-html="selectedChoice.feedback"></p>
        </div>

        <div class="content">
          <p class="content has-text-weight-bold has-text-right text">
            {{ correctAnswerRemaining }} more to go!</p>
          <progress class="progress is-large" :class="[ selectedChoice.correct ? 'is-success' : 'is-danger' ]"
                    :value="correctCount" :max="arrayCorrectIronies.length"></progress>
        </div>

        <div class="buttons is-right">
          <button class="button is-green is-large is-rounded is-pulled-right is-next" @click="gotoReflection"
                  v-if="showNextButton">
            Go to Reflection
          </button>
        </div>
      </div>
    </div>

    <audio ref="audio"></audio>

    <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
      <activity-modal :isActive="isActive" @closeModal="closeModal" v-if="isActive"/>
    </transition>
  </section>
</template>

<script>
  import { mapState } from 'vuex'
  import ActivityModal from '@/components/ActivityModal'

  export default {
    name: 'Activity',
    components: { ActivityModal },
    data () {
      return {
        isActive: true,
        selectedChoice: {},
        arraySelectedChoice: [],
        arrayCorrectIronies: [],
        correctCount: 0
      }
    },
    computed: {
      ...mapState(['ironies']),
      correctAnswerRemaining () {
        const totalCorrect = this.arrayCorrectIronies.length

        return totalCorrect - this.correctCount
      },
      hasSelectedChoice () {
        return Object.values(this.selectedChoice).length > 0
      },
      showNextButton () {
        return this.correctCount >= this.arrayCorrectIronies.length
      }
    },
    mounted () {
      this.ironies.some(irony => {
        if (irony.correct) {
          this.arrayCorrectIronies.push(irony)
        }
      })

      window.addEventListener('keyup', ev => {
        if (ev.key === 'Enter' || ev.key === 'Escape') this.closeModal()
      })
    },
    methods: {
      validateChoice (selectedChoice) {
        this.selectedChoice = selectedChoice
        this.arraySelectedChoice.push(selectedChoice)

        const audio = this.$refs.audio

        if (this.selectedChoice.correct) {
          this.correctCount++

          audio.src = require(`@/assets/audio/sound-correct.mp3`)
        } else {
          audio.src = require(`@/assets/audio/sound-wrong.mp3`)
        }

        audio.load()

        audio.play()

        this.$store.commit('setIronySelected', selectedChoice)
      },
      disableChoice (choice) {
        return this.arraySelectedChoice.some(selectedChoice => selectedChoice.id === choice.id)
      },
      gotoReflection () {
        this.$router.replace('/reflection')
      },
      closeModal () {
        this.isActive = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background: #5ec2fd center;
    background-size: cover;
    overflow: hidden;
  }

  .title {
    font-size: 6vh;
  }

  .text {
    font-size: 2.5vh;
  }

  .is-instructions {
    background: inherit;
    p {
      font-family: "Open Sans Condensed Bold", Arial, sans-serif;
    }
  }

  .container {
    position: relative;
  }

  .is-title {
    color: #2b2b2b;
    position: absolute;
    top: 5%;
    left: 2%;
  }

  .is-irony {
    font-family: "Open Sans Condensed Bold", Arial, sans-serif;
    line-height: 120%;
    color: #fff;
    border: 0;
    background-color: transparent;
    justify-content: left;
    text-align: left;
    width: 100%;
    height: inherit;
    white-space: pre-line;
    padding: 0;
    font-size: 2.5vh;

    &.is-yes {
      color: #2b2b2b;
      background-color: #b4fb55;
      width: 100%;
    }

    &.is-no {
      color: #2b2b2b;
      background-color: #fe6fa4;
      width: 100%;
    }

    &:not([disabled]):hover {
      color: #2b2b2b;
      background-color: #fff196;
    }

    &:disabled {
      opacity: 0.75;
    }
  }

  .is-excerpt {
    margin-top: -2.5vh;
    color: #2b2b2b;
    background-color: rgba(32, 44, 66, 0.5);
    border-radius: 15px;
    overflow-y: auto;
  }

  .is-feedback {
    p {
      line-height: 120%;
      font-family: "Amatic SC", sans-serif;
    }

    .notification {
      &.is-success {
        background-color: #8fd247;
        color: #2b2b2b;
      }

      &.is-danger {
        background-color: #ff6e60;
      }
    }
  }
</style>
