<template>
  <section class="hero is-fullheight is-paddingless"
           :style="{ backgroundImage: `url(${require(`@/assets/images/mark-antony-3.jpg`)})`}">
    <div class="columns is-gapless is-multiline is-mobile is-comic-board">
      <div class="column is-one-third is-comic-strip" :key="comicStrip.id" v-for="comicStrip in comicStrips">
        <img :src="require(`@/assets/images/comic/comic-${comicStrip.id}.png`)" class="is-comic"
             :alt="`Comic ${comicStrip.id}`" @click="openComicModal(comicStrip.id)"/>
      </div>
    </div>

    <button class="button is-dark is-large is-fullwidth is-uppercase goto-instruction" @click="gotoInstruction">
      Click here to move to the next section
    </button>

    <transition leave-active-class="animated fadeOut">
      <div class="is-overlay" :key="isOverlayActive" :class="{ 'is-active': isOverlayActive }"
           @click="isOverlayActive = false">
        <div class="columns is-gapless">
          <div class="column is-one-third-desktop is-12-tablet is-12-mobile is-placeholder">
            <img :src="require(`@/assets/images/comic/comic-placeholder.png`)" class="is-comic" alt="">
          </div>
        </div>

        <div class="column is-half is-offset-one-quarter has-text-centered">
          <p class="is-text is-size-2">
            <i class="fas fa-search-plus"></i>
            Click on the frame to zoom in
          </p>
        </div>
      </div>
    </transition>

    <comic-modal :isModalActive="isModalActive" :selectedComic="selectedComic" @closeComicModal="closeComicModal"
                 @navigateComic="navigateComic" v-if="isModalActive"/>
  </section>
</template>

<script>
  import { mapState } from 'vuex'
  import ComicModal from '@/components/ComicModal'

  export default {
    name: 'Comic',
    components: { ComicModal },
    data () {
      return {
        isModalActive: false,
        isOverlayActive: true,
        selectedComic: 1
      }
    },
    computed: {
      ...mapState(['comicStrips'])
    },
    mounted () {
      window.addEventListener('keyup', ev => {
        if (ev.key === 'Escape') this.closeComicModal()
      })
    },
    methods: {
      navigateComic (value) {
        switch (value) {
          case -1:
          case 1:
            this.selectedComic += value
            break
          case 0:
            this.selectedComic = 1
            break
        }
      },
      gotoInstruction () {
        this.$router.push('/instruction')
      },
      openComicModal (id) {
        this.selectedComic = id
        this.isModalActive = true
      },
      closeComicModal () {
        this.isModalActive = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background-position: center;
    background-size: cover;
  }

  .hero {
    background-color: #2c93ab;
    height: 100vh;
    overflow: hidden;
    padding: 0;
  }

  .is-comic-board {

    .is-comic-strip {
      width: 100vw;
      height: 46.5vh;

      .is-comic {
        border: thin solid #2b2b2b;
        height: 100%;
        width: 100%;
        cursor: pointer;
      }
    }
  }

  .is-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    z-index: 30;

    &.is-active {
      display: block;
    }
  }

  .is-text {
    font-family: "Open Sans Condensed Bold", Arial, sans-serif;
    color: #fff;
    text-shadow: 2.5px 2.5px #333;
  }

  .is-placeholder {
    &:first-child {
      border: thick dotted #fff;
    }

    > img {
      opacity: 0.8;
    }
  }

  .goto-instruction {
    font-family: "Open Sans Condensed Bold", Arial, sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;

    &:hover {
      background-color: #8891e8;
      color: #2b2b2b;
    }
  }
</style>
