<template>
  <div class="modal" :class="{ 'is-active': isModalActive }">
    <div class="modal-background" @click="closeModal"></div>

    <div class="modal-content has-text-centered">
      <transition enter-active-class="animated fadeInLeft">
        <img :key="selectedComic" :src="require(`@/assets/images/comic/comic-${selectedComic}.png`)"
             :alt="`Comic ${selectedComic}`"/>
      </transition>

      <div class="buttons is-centered">
        <transition enter-active-class="animated flipInY">
          <button class="button is-green tooltip is-previous" data-tooltip="Previous frame" v-show="selectedComic > 1"
                  @click="navigateComic(-1)">
            <span><i class="fas fa-arrow-left"></i></span>
          </button>
        </transition>

        <button class="button is-green tooltip is-home" data-tooltip="Close comic" @click="closeModal">
          <span><i class="fas fa-home"></i></span>
        </button>

        <transition enter-active-class="animated flipInY">
          <button class="button is-green tooltip is-next" data-tooltip="Next frame"
                  v-show="selectedComic < comicStrips.length" @click="navigateComic(1)">
            <span><i class="fas fa-arrow-right"></i></span>
          </button>
        </transition>
      </div>

      <p class="content is-light is-centered">
        You may use <code><i class="fas fa-arrow-left"></i></code> or
        <code><i class="fas fa-arrow-right"></i></code> keys to navigate
      </p>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'ComicModal',
    props: {
      isModalActive: Boolean,
      selectedComic: Number
    },
    computed: {
      ...mapState(['comicStrips'])
    },
    mounted () {
      window.addEventListener('keyup', ev => {
        let direction

        switch (ev.key) {
          case 'ArrowLeft':
            if (this.selectedComic > 1) direction = -1
            break
          case 'ArrowRight':
            if (this.selectedComic < this.comicStrips.length) direction = 1
            break
        }

        this.navigateComic(direction)
      })
    },
    methods: {
      closeModal () {
        this.$emit('closeComicModal')
      },
      navigateComic (direction) {
        this.$emit('navigateComic', direction)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .modal-content {
    width: 60%;
  }

  img {
    height: 70vh;
  }
</style>
