<template>
  <section class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/${getBackground}`)})`, backgroundRepeat: 'no-repeat', backgroundSize: 'cover' }">
    <div class="hero-body is-paddingless">
      <div class="container">
        <div class="columns is-vcentered" v-if="storyIndex === 0">
          <div class="column is-half">
            <p class="is-size-2 content">
              In this segment, we are going to take a look at Mark Antony’s speech from Act III Scene II of the play. As you read, identify moments of verbal irony, where Mark Antony means the opposite of what he says on the surface.
            </p>

            <button class="button is-green is-large is-rounded is-next" @click="gotoNext">View Excerpt</button>
          </div>
        </div>

        <div class="columns is-vcentered" v-if="storyIndex === 1">
          <div class="column is-one-fifth excerpt-left">
            <h1 class="content is-uppercase is-size-1">From Julius Caesar, <br> Act III Scene II
            </h1>

            <p class="title is-light is-size-3">Read Mark Antony's Speech</p>

            <p class="content is-size-4" style="color: #b4ff8f;">
              The words that you may find challenging have been highlighted. Click on them to find out more!
            </p>
          </div>

          <div class="column excerpt"
               :style="{ backgroundImage: `url(${require(`@/assets/images/paper.png`)})` }">
            <div class="excerpt-inside">
              <p>Friends, Romans, countrymen, lend me your ears;</p>
              <p>I come to bury Caesar, not to praise him.</p>
              <p>The evil that men do lives after them;</p>
              <p>The good is often <span class="highlighted-word" data-meaning="buried" data-word="interred"
                                         @click="selectWord">interred</span> with their
                bones;
              </p>
              <p>So let it be with Caesar. The noble Brutus</p>
              <p>Hath told you Caesar was ambitious;</p>
              <p>If it were so, it was a grievous fault,</p>
              <p>And grievously hath Caesar answer’d it.</p>
              <p>Here, under leave of Brutus and the rest –</p>
              <p>For Brutus is an honorable man;</p>
              <p>So are they all, all honorable men –</p>
              <p>Come I to speak in Caesar’s funeral.</p>
              <p>He was my friend, faithful and just to me:</p>
              <p>But Brutus says he was ambitious;</p>
              <p>And Brutus is an honorable man.</p>
              <p>He hath brought many captives home to Rome</p>
              <p>Whose ransoms did the general <span class="highlighted-word" data-meaning="treasury"
                                                     data-word="coffers" @click="selectWord">coffers</span>
                fill:</p>
              <p>Did this in Caesar seem ambitious?</p>
              <p>When that the poor have cried, Caesar hath wept:</p>
              <p>Ambition should be made of sterner stuff:</p>
              <p>Yet Brutus says he was ambitious;</p>
              <p>And Brutus is an honorable man.</p>
              <p>You all did see that on <span class="highlighted-word" data-meaning="a feast/celebratory festival in Rome"
                                               data-word="Lupercal" @click="selectWord">Lupercal</span>
              </p>
              <p>I thrice presented him a kingly crown,</p>
              <p>Which he did thrice refuse: Was this ambition?</p>
              <p>Yet Brutus says he was ambitious;</p>
              <p>And, sure, he is an honorable man.</p>
              <p>I speak not to disprove what Brutus spoke,</p>
              <p>But here I am to speak what I do know.</p>
            </div>
          </div>

          <div class="column is-2" :class="{ 'is-one-fifth': showExcerpt }">
            <div class="box is-hint-box is-size-4" v-if="showHintBox">
              * {{ hint.word }}: {{ hint.meaning }}
            </div>

            <transition enter-active-class="animated fadeIn">
              <button class="button is-large is-green is-rounded is-next" v-if="showNextButton" @click="gotoNext">
                Next
              </button>
            </transition>
          </div>
        </div>

        <div class="columns is-vcentered has-text-centered" v-if="storyIndex === 2">
          <div class="column is-3">
            <div class="box">
              <h1 class="is-size-3 content">
                Guide to Characters in ACT III Scene II
              </h1>
              <p class="content is-size-4 is-uppercase">
                Identify moments of verbal irony in Mark Antony's speech, when he says one thing, and means the opposite.
              </p>

              <p class="content is-size-4 is-uppercase mark-antony">Click on Mark Antony to proceed</p>
            </div>
          </div>

          <div class="column is-4 is-offset-5">
            <img :src="require(`@/assets/images/mark-button.png`)" alt="mark-antony-button" class="mark-antony-button goto-speech" @click="gotoSpeech">
          </div>
        </div>

        <audio :src="require(`@/assets/audio/instructions.mp3`)" autoplay v-if="storyIndex === 2"></audio>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Instruction',
    data () {
      return {
        arraySelectedWords: [],
        hint: {},
        showExcerpt: false,
        showHintBox: false,
        storyIndex: 0,
        background: ['mark-antony-1.jpg', 'mark-antony-2.jpg', 'character-guide.jpg']
      }
    },
    computed: {
      showNextButton () {
        return this.arraySelectedWords.length >= 3 || false
      },
      getBackground () {
        return this.background[this.storyIndex]
      }
    },
    methods: {
      selectWord (ev) {
        const word = ev.target.dataset.word
        const meaning = ev.target.dataset.meaning

        this.hint = {
          word: word,
          meaning: meaning
        }

        const inArray = this.arraySelectedWords.some(selectedWord => selectedWord.includes(word))

        if (!inArray) {
          this.arraySelectedWords.push(word)
        }

        this.showHintBox = true
      },
      gotoNext () {
        this.storyIndex++
      },
      gotoSpeech () {
        this.$router.push('/speech')
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding: 0 25px;
  }

  p {
    font-family: "Amatic SC", sans-serif;
  }

  .content {
    color: #fff;
  }

  .page-two {
    position: relative;
    h1 {
      position: absolute;
      top: 5%;
      left: 1%;
    }
  }

  .excerpt-left {
    h1 {
      line-height: 100%;
    }
  }

  .excerpt {
    margin-left: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 8%;
    height: 100vh;
    color: #2b2b2b;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .excerpt-inside{
      p {
        font-family: "Open Sans Condensed Bold", Arial, sans-serif;
        font-size: 3vh;
        line-height: 110%;
      }
    }
  }

  .mark-antony-button {
    margin-top: -30%;
    width: 90%;
    cursor: pointer;
    animation: pulse 2s ease-in-out infinite;

    @keyframes pulse {
      0%, 100% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.05);
      }
    }
  }

  .is-hint-box {
    font-family: "Amatic SC", sans-serif;
    color: #ff7151;
    background-color: #000;
  }

  .highlighted-word {
    color: #ff7151;
    font-weight: bold;
    cursor: pointer;
  }

  .mark-antony {
    text-decoration: underline;
  }
</style>
