<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns has-text-centered">
          <div class="column is-8 is-offset-2 intro">
            <h1 class="title is-light">What is Verbal Irony?</h1>
            <h2 class="subtitle is-size-4 is-light">(Click on the image below to view the video!)</h2>

            <img :src="require(`@/assets/images/video-thumbnail.jpg`)" alt="Thumbnail of the video" @click="openLink"/>

            <div class="buttons is-right">
              <button class="button is-green is-large is-rounded" @click="startActivity">Start Activity</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Introduction',
    methods: {
      openLink () {
        window.open('https://www.youtube.com/watch?v=IiR-bnCHIYo')
      },
      startActivity () {
        this.$router.push('/quiz')
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background-color: #2c93ab;
    min-height: 100vh;
  }


  h1 {
    font-size: 3em;
  }

  img {
    height: 55vh;
    border: 5px solid whitesmoke;
    cursor: pointer;
    margin-bottom: 2%;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
    animation: 2s pulse ease-in-out infinite;
  }

  @keyframes pulse {
    0%, 100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }

    50% {
      -webkit-transform: scale(1.025);
      -moz-transform: scale(1.025);
      -ms-transform: scale(1.025);
      -o-transform: scale(1.025);
      transform: scale(1.025);
    }
  }
</style>
