<template>
  <nav class="navbar is-transparent is-fixed-top" :class="{ 'is-active': showSidebar }" role="navigation"
       aria-label="main navigation">
    <div class="navbar-start">
      <a class="navbar-item" @click="toggleSidebar"><i class="fa fa-fw fa-bars"></i></a>
    </div>
  </nav>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'navbar',
    computed: {
      ...mapState(['showSidebar'])
    },
    methods: {
      toggleSidebar () {
        this.$store.commit('toggleSidebar')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .navbar {
    width: 100%;
    background-color: transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    &.is-fixed-top {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
      width: 15%;
    }

    &.is-active {
      left: calc(2 / 12 * 100vw);
    }
  }
</style>
