<template>
  <section>
    <video :src="require(`@/assets/videos/video-1.mp4`)" autoplay controls @ended="videoEnded = true"></video>

    <transition enter-active-class="animated fadeIn">
      <div class="hero is-fullheight" v-show="videoEnded">
        <div class="hero-body">
          <div class="columns is-vcentered is-centered is-gapless">
            <div class="column is-half">
              <img :src="require(`@/assets/images/comic/comic-1.png`)" class="has-shadow" alt="">
            </div>

            <div class="column is-one-third">
              <div class="box is-light">
                <p class="content is-size-3">
                  Read the comic strip to learn more about the plot/events that lead up to Act III Scene II of Shakespeare's play Julius Caesar!
                </p>

                <button class="button is-green is-rounded is-large is-uppercase" @click="gotoComic">
                  Read Comic
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </section>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'PostQuiz',
    beforeRouteUpdate (to, from, next) {
      this.videoEnded = false
      next()
    },
    data () {
      return {
        videoEnded: false,
        videoIndex: 0
      }
    },
    computed: {
      ...mapGetters(['animatedVideos'])
    },
    methods: {
      gotoComic () {
        this.$router.push('/comic')
      }
    }
  }
</script>

<style lang="scss" scoped>
  section,
  video {
    height: 100vh;
    overflow: hidden;
  }

  video {
    width: 100vw;
  }

  .hero {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  img {
    &.has-shadow {
      -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5);
      box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5);
    }
  }

  .box {
    background-color: #000;

    p {
      font-family: "Open Sans Condensed Bold", Arial, sans-serif;
      line-height: 130%;
    }
  }
</style>
