<template>
  <section class="section">
    <div class="container">
      <div class="columns has-text-centered">
        <div class="column">
          <h1 class="title is-light">Quiz</h1>
          <h2 class="subtitle is-light is-size-4">Instruction: Select the image below that demonstrates verbal irony</h2>

          <div class="picture-choices columns is-mobile">
            <div class="column" :key="choice.id" v-for="choice in quiz.choices">
              <quiz-image class="choice-image" :quiz="quiz" :choice="choice" @openModal="openModal"
                          @incrementQuizIndex="incrementQuizIndex"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <quiz-modal :isActive="isActive" :selectedChoice="selectedChoice" :quizIndex="quizIndex" @closeModal="closeModal"
                @incrementQuizIndex="incrementQuizIndex" v-if="isActive"></quiz-modal>
  </section>
</template>

<script>
  import { mapState } from 'vuex'
  import QuizImage from '@/components/QuizImage'
  import QuizModal from '@/components/QuizModal'

  export default {
    name: 'quiz',
    components: {
      QuizImage, QuizModal
    },
    data () {
      return {
        isActive: false,
        quizIndex: 0
      }
    },
    computed: {
      ...mapState(['quizzes', 'selectedChoice']),
      quiz () {
        return this.quizzes[this.quizIndex]
      }
    },
    methods: {
      openModal () {
        this.isActive = true
      },
      closeModal () {
        this.isActive = false
      },
      incrementQuizIndex () {
        if (this.quizIndex >= this.quizzes.length - 1) {
          this.$router.replace('/post-quiz')
        } else {
          this.quizIndex++
        }

        this.closeModal()
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background-color: #27b0a2;
  }

  h1 {
    font-size: 3em;
  }

  .picture-choices {
    margin: 0 5%;
  }

  .choice-image {
    border: 10px solid #8FB7B3;
  }
</style>
