<template>
  <div class="modal" :class="{ 'is-active': isActive}">
    <div class="modal-background"></div>

    <div class="modal-card">
      <header class="modal-card-head" :class="[ selectedChoice.correct ? 'is-correct' : 'is-incorrect' ]">
        <h1 class="title">
          <i class="fas" :class="[ selectedChoice.correct ? 'fa-check-circle' : 'fa-times-circle']"></i>
          {{ selectedChoice.title }}
        </h1>
      </header>

      <div class="modal-card-body">
        <div class="image">
          <img :src="require(`@/assets/images/${image}`)"/>
        </div>

        <p class="content is-size-5">{{ selectedChoice.feedback }}</p>

        <div class="has-text-centered">
          <button class="button is-large is-rounded okay-button is-size-4"
                  :class="[ selectedChoice.correct ? 'is-green' : 'is-red' ]" @click="goto(selectedChoice)">
            {{ selectedChoice.correct ? 'Next' : 'Try again' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import QuizImage from '@/components/QuizImage'

  export default {
    name: 'QuizModal',
    components: { QuizImage },
    props: {
      isActive: Boolean,
      selectedChoice: Object,
      quizIndex: Number
    },
    computed: {
      image () {
        return `quiz-${this.quizIndex + 1}-${this.selectedChoice.option.toLowerCase()}.jpg`
      }
    },
    methods: {
      goto (choice) {
        if (choice.correct) {
          this.$emit('incrementQuizIndex')
        } else {
          this.$emit('closeModal')
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .image {
    margin: 3% auto;
    border: 10px solid #8fb7b3;
    width: 55%;
  }

  .is-correct {
    background-color: #b4ff8f;
  }

  .is-incorrect {
    background-color: #ff6e60;
  }

  .modal-card {
    border-radius: 15px;

    .modal-card-head {
      border: none;
    }

    .modal-card-body {
      background-color: #106478;
      color: #fff;

      p {
        font-family: "Open Sans Condensed Bold", Arial, sans-serif;
      }
    }
  }
</style>
