<template>
  <img :src="require(`@/assets/images/${image}`)" :class="{ 'is-disabled': choice.selectedWrong }"
       alt="Image of Verbal Irony options" @click="checkAnswer" :data-choice="choice.id">
</template>

<script>
  export default {
    name: 'QuizImage',
    props: {
      quiz: Object,
      choice: Object
    },
    computed: {
      image () {
        return `quiz-${this.quiz.id}-${this.choice.option.toLowerCase()}.jpg`
      }
    },
    methods: {
      checkAnswer (ev) {
        this.$store.commit('setSelectedChoice', this.choice)

        if (!ev.target.classList.contains('is-disabled')) {
          this.$emit('openModal')
        }

        if (this.choice.correct && this.choice.id === parseInt(ev.target.dataset.choice)) {
        } else {
          this.$store.commit('setSelectedWrong', {
            quiz: this.quiz,
            choice: this.choice
          })
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  img {
    cursor: pointer;
    height: 55vh;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    &.is-disabled {
      opacity: 0.5;
      cursor: not-allowed;

      &:hover {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
      }
    }

    &:hover {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
</style>
