<template>
  <section class="hero is-fullheight">
    <transition leave-active-class="animated slideOutUp">
      <video :key="showOverlay" :src="require(`@/assets/videos/video-3.mp4`)" autoplay controls
             @ended="showOverlay = true" v-if="!showOverlay"></video>
    </transition>

    <transition enter-active-class="animated slideInUp">
      <section :key="showOverlay" class="hero is-fullheight" v-if="showOverlay"
               :style="{ backgroundImage: `url(${require(`@/assets/images/mark-antony-2.jpg`)})`}">
        <div class="hero-body">
          <div class="container">
            <div class="columns has-text-centered">
              <div class="column">
                <img class="stadium" :src="require(`@/assets/images/stadium.png`)" alt="">

                <div class="box">
                  <h1 class="title is-size-1">We have come to the end of this activity.</h1>

                  <button class="button is-green is-large is-rounded restart-button" @click="restart">
                    Restart
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </transition>
  </section>
</template>

<script>
  export default {
    name: 'reflection',
    data () {
      return {
        showOverlay: false
      }
    },
    methods: {
      restart () {
        this.$router.push('/')
      }
    }
  }
</script>

<style lang="scss" scoped>
  video {
    height: 100vh;
  }

  .hero {
    background-position: center;
    background-size: cover;
  }

  .box {
    position: relative;
    z-index: 2;
    width: 60%;
    margin: 0 auto;

    h1 {
      color: whitesmoke;
    }
  }

  .stadium {
    position: fixed;
    z-index: 1;
    bottom: -10%;
    left: 0;
    width: 50%;
  }
</style>
