<template>
  <div class="is-overlay" :class="{ 'is-active': showSidebar }" @click="toggleSidebar">
    <aside class="has-position-fixed" :class="{ 'is-active': showSidebar }">
      <nav class="menu">
        <br>
        <hr/>

        <ul class="menu-list">
          <li v-for="route in routes" v-if="!route.meta.hidden" @click="toggleSidebar">
            <router-link :to="route.path" exact-active-class="is-active" v-if="!route.meta.hideFromSidebar">
              <div class="columns">
                <div class="column is-2">
                  <i class="fas fa-play-circle" v-if="route.meta.hasVideo"></i>
                </div>
                <div class="column is-10">
                  <span class="is-light">{{ route.meta.header }}</span>
                </div>
              </div>
            </router-link>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'sidebar',
    data () {
      return {
        routes: []
      }
    },
    computed: {
      ...mapState(['showSidebar'])
    },
    mounted () {
      this.routes = this.$router.options.routes
    },
    methods: {
      toggleSidebar () {
        this.$store.commit('toggleSidebar')
      }
    }
  }
</script>

<style lang="scss" scoped>
  aside {
    width: 0;
    background-color: #363636;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    > nav {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }

    &.is-active {
      width: calc(2 / 12 * 100vw);

      > nav {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  li {
    > * {
      font-family: "Amatic SC", sans-serif;
      font-size: 1.3em;
      padding: 15px;
      color: #fff;
    }
  }

  .is-overlay {
    width: 0;
    background-color: rgba(0, 0, 0, 0.5);

    &.is-active {
      width: 100vw;
      z-index: 30;
    }
  }

  .has-position-fixed {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 30;
  }

  .title {
    padding-top: 2.5vh;
  }
</style>
