<template>
  <div id="app">
    <div v-show="isLandscape">
      <navbar/>
      <sidebar/>
      <router-view/>
    </div>

    <section class="hero is-fullheight rotate-screen" v-show="!isLandscape"
             :style="{ backgroundImage: `url(${require(`@/assets/images/mark-antony-2.jpg`)})`}">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered has-text-centered">
            <div class="column is-half is-offset-one-quarter">
              <h1 class="content is-uppercase is-size-1">Please adjust your device</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Navbar from '@/components/Navbar'
  import Sidebar from '@/components/Sidebar'

  export default {
    name: 'App',
    components: { Navbar, Sidebar },
    computed: {
      ...mapState(['showSidebar', 'isLandscape'])
    },
    mounted () {
      this.invokeOrientationChange()

      window.addEventListener('resize', this.invokeOrientationChange)
    },
    methods: {
      invokeOrientationChange () {
        this.$store.commit('isLandscape', window.innerWidth > window.innerHeight * 1.3 && window.innerHeight * 3 > window.innerWidth)
      }
    }
  }
</script>

<style lang="scss">
  @import './sass/app.scss';

  @font-face {
    font-family: "Amatic SC";
    src: url("./assets/fonts/AmaticSC-Bold.ttf") format('truetype');
  }

  @font-face {
    font-family: 'Open Sans Condensed Bold';
    src: url('./assets/fonts/OpenSansCondensed-Bold.ttf') format('truetype');
  }

  .rotate-screen {
    background-position: center;
    background-size: cover;
  }

  section {
    height: 100vh;
    font-family: "Open Sans Condensed Bold", Arial, sans-serif;
  }

  video {
    background-color: #000;
  }

  h1 {
    font-family: "Amatic SC", sans-serif;
  }

  h2 {
    font-family: "Open Sans Condensed Bold", Arial, sans-serif;
  }

  .is-light {
    color: #fff;
  }

  .box {
    background-color: rgba(32, 44, 66, 0.4);
  }

  button {
    min-width: 8vw;
  }

  .is-green {
    font-family: "Amatic SC", sans-serif;
    background-color: #b4ff8f;
    color: #2b2b2b;
    border: none;

    &:hover {
      background-color: #32ce80;
    }
  }

  .is-red {
    font-family: "Amatic SC", sans-serif;
    background-color: #ff6e60;
    color: #2b2b2b;
    border: none;

    &:hover {
      background-color: #ff1244;
    }
  }
</style>
